{% extends 'base.html' %}

{% block content %}


    {% if validlink %}
        <p>Пожалуйста, ведите и подтвердите новы     пароль</p>
        <form action="" method="post">
        {%csrf_token%} 
           {{ form.as_p }}
           <input type="submit" value="Сбросить пароль">
        <!-- <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">Новый пароль:</label>
                </td>
                    <td>{{ form.password1 }}</td>
            </tr>
   
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Подвердите пароль:</label>
                </td>
                <td>{{ form.password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Изменить пароль"></td>
            </tr>
        </table>    -->
        </form>
    
    {% else %}
        <h1>Не удалось сбросить пароль</h1>
        <p>Ссылка на сброс пароля недействительна, возможно потому что она уже использована</p>
    {% endif %}

{% endblock %} 